* {
    margin: 0px;
}

body {
    background-color: rgb(172, 136, 97);
    width: auto;
    height: auto;
}

a {
    text-decoration: none;
    color: white;
}

@font-face {
    font-family: "wonder";
    src: url("font/Wondercity.otf");
}

@font-face {
    font-family: "mache";
    src: url("font/PaperMache-Regular.ttf");
}

@font-face {
    font-family: "cut";
    src: url("font/Papercut-Regular.otf");
}

@font-face {
    font-family: "kind";
    src: url("font/Paperkind.otf");
}

#cabecalho {
    display: flex;
    background-color: rgb(172, 136, 97);
    background-size: auto;
    padding: 20px;
    width: auto;
    height: fit-content;
    justify-content: center;
}

#cabecalho img {
    width: 225px;
    height: auto;
}

#conteudo {
    display: block;
    background-image: url("img/paperBackground.jpg");
    padding: 30px;
    width: auto;
    height: 500px;
    justify-items: center;
}

#celula{
    margin: 10px;
}

#conteudo h1{
    font-size: 60px;
    color: rgb(65, 38, 33);
    font-family: "mache";
    align-content: center;
    text-align: center;
    margin: -80px;
}

#conteudo h2{
    font-size: 60px;
    color: rgb(86, 39, 73);
    font-family: "cut";
    align-content: center;
    text-align: center;
    margin: -80px;
}
#conteudo h3{
    font-size: 40px;
    color: rgb(96, 72, 45);
    font-family: "kind";
    align-content: center;
    text-align: center;
    margin: -80px;
}

#conteudo img{
    width: 300px;
    height: 80px;
}

#origami {
    display: flex;
}

#papel {
    display: flex;
}

#contato {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: url("img/paperBackground.jpg");
    font-family: "wonder";
    padding: 30px;
}

#formulario {
    grid-column: 1;
    display: flow-root;
    justify-self: center;
    align-self: center;
}

#formulario input {
    margin: 5px;
    height: 30px;
}

#formulario label {
    margin: 5px;
    height: 30px;
}

#formulario textarea {
    margin: 5px;
    height: 150px;
}

#nome {
    width: 100%;
    margin: 5px;
    height: 30px;
}

#email {
    width: 100%;
    margin: 5px;
    height: 30px;
}

#sugestao {
    width: 100%;
    margin: 5px;
    height: 30px;
}

#enviar {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100px;
    margin: 5px;
}

#gif {
    grid-column: 2;
    display: flex;
    align-self: center;
    justify-self: center;
    width: 350px;
    height: auto;
}

#menu {
    display: none;
    background-color: rgb(218, 186, 152);
    width: auto;
    list-style: none;
    padding: 5px;
    font-family: "wonder";
}

#menu li {
    display: flex;
    background-color: rgb(193, 156, 116);
    border: 2px rgb(172, 136, 97) solid;
    border-radius: 5px;
    width: 90%;
    padding: 5px 15px 5px 15px;
    height: fit-content;
    font-size: 20px;
    justify-content: center;
    margin: 5px;
}

#burguer {
    display: block;
    background-color: rgb(218, 186, 152);
    width: auto;
    height: fit-content;
    padding: 15px;
    color: white;
}

#rodape {
    display: flex;
    background-color: rgb(172, 136, 97);
    background-size: auto;
    padding: 30px;
    width: auto;
    height: auto;
    justify-content: center;
    font-family: "wonder";
}

#tipo {
    color: white;
    font-size: 20px;
}

h1 {
    color: white;
    font-size: 50px;
}

/*celular*/

/*em pé*/
@media (max-width: 768px) and (orientation: portrait) {
    #tipo {
        color: red;
        font-size: 250%;

    }

    #menu li {
        padding: 5px 15px 5px 15px;
        font-size: 20px;
    }

    #contato {
        display: flex;
        flex-wrap: wrap;
        font-size: 25px;
    }

    #enviar{
        font-size: 20px;
    }
}

/*deitado*/
@media (max-width: 768px) and (orientation: landscape) {
    #tipo {
        color: orange;
        font-size: 250%;

    }
}

@media (min-width: 768px) {
    #burguer {
        display: none;
    }

    #menu {
        display: flex;
        width: auto;
        justify-content: space-around;
    }
}

/*tablet*/

/*em pé*/
@media (min-width: 768px) and (max-width: 1280px) and (orientation: portrait) {
    #tipo {
        color: yellow;
        font-size: 250%;

    }
}

/*deitado*/
@media (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) {
    #tipo {
        color: green;
        font-size: 250%;

    }
}

/*computador*/

@media (min-width: 1280px) and (max-width: 1440px) and (orientation: landscape) {
    #tipo {
        color: cyan;
        font-size: 250%;

    }
}