h1 {
    color: black;
    font-size: 50px;
}

/*celular*/

/*em pé*/
@media (max-width: 767) and (orientation: portrait){
    h1{
        color: red;
    }
}

/*deitado*/
@media (max-width: 767) and (orientation: landscape){
    h1{
        color: orange;
    }
}

/*tablet*/

/*em pé*/
@media (min-width: 768) and (max-width: 1280px) and (orientation: portrait){
    h1{
        color: yellow;
    }
}

/*deitado*/
@media (min-width: 768) and (max-width: 1280px) and (orientation: landscape){
    h1{
        color: green;
    }
}

/*computador*/

@media (min-width: 1280) and (max-width: 1440px) and (orientation: landscape){
    h1{
        color: blue;
    }
}